body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;
  margin: 0;
  background-color: #808080;
}

.container {
  text-align: center;
}

.quadrado{
    background-color: #c7c7c7;
    width: 150px;
    height: 150px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.olho-direito{
    border-radius: 50%;
    color: white;
}
.olho-esquerdo{
    border-radius: 50%;
    color: white;
}

.boca{
    border: red;
}

.feliz{
    background-color: yellow;
    animation: pular 0.6s infinite alternate;
}

.triste {
  background: #74c0fc;
  transform: translateY(10px);
}

.nervoso {
  background: #ff6b6b;
  animation: tremer 0.1s infinite;
}

@keyframes pular {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

@keyframes tremer {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

.quadrado:hover {
  background: red;
}